extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis hendrerit eros eu imperdiet. Ut vulputate massa id justo blandit, sit amet imperdiet arcu laoreet.
                p Cras volutpat nisi vitae interdum fermentum. Aliquam commodo ipsum quis augue iaculis, a mollis dolor semper. Nulla facilisi. Praesent accumsan ex lectus, a dictum odio feugiat non. Suspendisse sit amet libero dictum, accumsan lorem at, sagittis massa. In nec purus elit. Nunc congue et eros et condimentum. Donec rhoncus metus non orci tempor mollis. Vestibulum commodo quam in felis commodo, id eleifend tellus congue. Maecenas pharetra eleifend augue, nec scelerisque lectus aliquam a. Fusce ut auctor risus. Nulla at elementum lectus.
                p Ut congue consequat nunc. Pellentesque tincidunt interdum orci lacinia lacinia. Ut et imperdiet arcu. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Aliquam commodo ipsum quis augue iaculis, a mollis dolor semper.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Aliquam commodo ipsum quis augue iaculis, a mollis dolor semper.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Aliquam commodo ipsum quis augue iaculis, a mollis dolor semper.
                